<div data-role="header">
  <%= link_to 'Back', session_path(@session), "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3>Participant</h3>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
