<h1>Gêmkeeper</h1>
<p>Track game metrics</p>

<%= link_to 'Games', games_path %>
<%= link_to 'Players', players_path %>
<%= link_to 'Sessions', sessions_path %>
<%= link_to 'Participations', participations_path %>
