<div data-role="header">
  <%= link_to 'Back', :back, "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3>Session</h3>
  <%= render 'layouts/navbar' %>
</div>

<div data-role="content">
  <%= form_for(@session, :url => game_sessions_path) do |f| %>
    <%= render 'form', :f => f %>
  <% end %>
</div>
