<p>Welcome <%= @player.name %>!</p>

<p>You have been tagged in a game on Gêmkeeper! Gêmkeeper allows you and your friends to keep track of board game wins / losses and compare your stats.</p>

<p>Go to the following link to sign up and join the fun: <%= link_to @url, @url %></p>
