<div data-role="header">
  <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' }, "data-icon" => "minus", "class" => "ui-btn-right" %>
  <%= link_to 'Back', :back, "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3>Game</h3>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
