<% title 'Gêmkeeper' %>

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search games..." >
  <% @games.each do |game| %>
      <li data-theme="c">
      <a href="<%= game_path(game) %>" data-transition="slide">
        <h2><%= game.name %></h2>
      </a>
      </li>
  <% end %>
  </ul>
</div>

