<div data-role="header">
  <%= link_to 'Back', games_path, "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3>Game</h3>
  <%= render 'navbar' %>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
