<% title 'Gêmkeeper' %>

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search friends..." >
    <% @players.each do |player| %>
      <li data-theme="c">
      <a href="<%= player_path(player) %>" data-transition="slide">
        <h2><%= player.name %></h2>
      </a>
      </li>
    <% end %>
  </ul>
</div>

