<% title @player.name %>

<div data-role="content">
  <p id="notice" class="ui-bar-a ui-bar ui-corner-all" ><%= notice %></p>

  <h4>Name</h4>
  <p><%= @player.name %></p>

  <h4>Email</h4>
  <p><%= @player.email %></p>

</div>
