<div data-role="header">
  <%= link_to 'Add', new_game_role_path(@game), "data-icon" => "plus", "class" => "ui-btn-right" %>
  <%= link_to @game.name, game_path(@game), "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3><%= @game.name %> Roles</h3>
</div>

<div data-role="content">
  <ul data-role="listview" data-inset="true">
  <% @roles.each do |role| %>
    <li data-icon="edit">
      <%= link_to role.name, edit_role_path(role) %>
    </li>
  <% end %>
  </ul>
</div>

