<div data-role="header">
  <%= link_to 'Back', :back, "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3><%= @game.name %> Role</h3>
  <%= render 'games/navbar' %>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
